venv-fastapi/        # the whole virtual environment
__pycache__/         # Python cache
*.pyc                # compiled bytecode
*.pyo
*.pyd
*.log                # log files
.env                 # actual secrets/configs
.pytest_cache/       # pytest cache
.coverage            # test coverage
htmlcov/             # coverage reports
.vscode/             # IDE/editor settings
.idea/
.DS_Store            # MacOS junk file
Thumbs.db            # Windows junk file
